# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Logs and databases
*.log
*.sqlite3

# IDE configurations
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
